@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --primary-color: #00a6d6;
  --dark-color: #252525;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Syne", sans-serif;
}
body input {
  color: #252525;
}
body.dark input {
  color: white;
}

.container {
  max-width: 1205.45px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 650px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 320px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Syne", sans-serif;
}

a.active {
  color: var(--primary-color) !important;
  font-weight: 500 !important;
}

button {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.gap-4 {
  gap: 4rem;
}

.gap-1 {
  gap: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  font-size: 60px;
  font-weight: 700;
  opacity: 0.9;
}
@media (max-width: 1024px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
}

.doc {
  font-size: 18px;
  font-weight: 400;

  margin: 0rem auto;
  max-width: 600px;
  margin-top: 0.8rem;
}
@media (max-width: 768px) {
  .doc {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .doc {
    font-size: 14px;
    margin-top: 0.6rem;
  }
}

.mobile-menu-btn-close {
  display: none;
}

@media (max-width: 768px) {
  .menu-bar.active + ul .mobile-menu-btn {
    display: none;
  }
  .menu-bar.active + ul .mobile-menu-btn-close {
    display: block;
  }
}
.mobile-menu-btn {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu-btn {
    display: block;
  }
}

.nav-container {
  background: white;
  padding: 2rem 0;
  box-shadow: 0 4px 2px -2px rgba(25, 28, 33, 0.269);
}
@media (max-width: 768px) {
  .nav-container {
    padding: 1rem 0rem;
  }
}
.nav-container .theme-change {
  width: 33px;
  height: 31.29px;
  cursor: pointer;
}
.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container nav .get-start-btn-mobile {
  display: none;
}
@media (max-width: 600px) {
  .nav-container nav .get-start-btn-mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .nav-container nav .menu-bar {
    display: none;
    width: 250px;
    padding: 1rem 0rem;
    position: absolute;
    right: 10%;
    top: 10%;
    background-color: white;
    flex-direction: column;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
      0px 1px 0px 0px rgba(25, 28, 33, 0.02),
      0px 0px 0px 1px rgba(25, 28, 33, 0.08);
    gap: 1.4rem;
  }
}
.nav-container nav .menu-bar.active {
  display: flex;
  z-index: 9999;
}
@media (max-width: 600px) {
  .nav-container nav .get-start-btn {
    display: none;
  }
}
.nav-container nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1024px) {
  .nav-container nav ul {
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .nav-container nav ul {
    gap: 1rem;
  }
}
.nav-container nav ul li {
  list-style: none;
}
.nav-container nav ul li a {
  color: var(--dark-color);
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  font-family: "Syne", sans-serif;
}

footer {
  padding: 60px 0px;
  background-color: white;
  font-family: "Inter", sans-serif;
  box-shadow: 0 0 15px rgba(25, 28, 33, 0.559);
}
footer .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
}
@media (max-width: 1024px) {
  footer .content {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  footer .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  footer .content {
    grid-template-columns: 1fr;
  }
}
footer .content .item {
  max-width: 314px;
}
@media (max-width: 600px) {
  footer .content .item img {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  footer .content .item:nth-child(1) {
    max-width: 214px;
  }
}
footer .content .item h4 {
  opacity: 0.8;
  font-family: 800;
  font-size: 16px;
}
footer .content .item p {
  opacity: 0.9;
  font-family: 400;
  font-size: 14px;
  text-align: justify;
}

.copyright {
  background-color: var(--primary-color);
  padding: 22px 0rem;
}
.copyright p {
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
}

.contact {
  padding: 182px 0px;
  background-image: url("../assets/contact-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .contact {
    padding: 82px 0px;
  }
}
.contact .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.contact .content .title {
  text-align: start;
}

@media (max-width: 768px) {
  .contact .content {
    flex-direction: column;
  }
  .contact .content .title {
    text-align: center;
  }
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
